<div>
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('../../../../assets/images/hero_5.jpg');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">Giới Thiệu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="container">
            
            <div class="row mb-5">
                <div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
                    <h2 class="heading text-primary"> About Me</h2>
                    <p>Sinh Viên Năm cuối Khoa CNTT-TT<br>Trường đại học Hồng Đức </p>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
                    <div class="mb-5">
                        <h2 class="text-black h4">Giới thiệu về tôi</h2>
                        <p> "Tôi tin rằng bạn sẽ tìm thấy những kiến thức mới, ý tưởng sáng tạo và sự hỗ trợ cần thiết để tiến xa hơn trong lĩnh vực IT khi ghé thăm trang web của tôi".</p>
                    </div>
                    <img src="../../../../assets/images/158717449_446283986689107_3466657494266604972_n.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Nguyễn Bá Anh</h5>
                    <p>Xin chào! Tôi là Bá Anh, một sinh viên năm cuối đang theo học ngành CTTT tại trường đại học Hồng Đức. Rất vui được chào đón bạn đến với trang blog của tôi, nơi tôi chia sẻ những trải nghiệm và kiến thức thu thập được trong quá trình thực tập của mình.

                        Việc làm blog này không chỉ là một phần của báo cáo thực tập của tôi, mà còn là cách để tôi ghi lại những hành trình, khám phá và học hỏi trong suốt thời gian thực tập. Tôi hy vọng rằng những chia sẻ của mình có thể cung cấp thông tin hữu ích cho các bạn sinh viên khác, những người cũng đang chuẩn bị bước vào cuộc sống công việc trong tương lai gần.
                        
                        Trên blog này, bạn sẽ tìm thấy những bài viết về những nguyên tắc và kỹ năng quan trọng trong lĩnh vực của tôi, như cách áp dụng kiến thức học được vào thực tế, xây dựng mạng lưới chuyên nghiệp, và nắm bắt những cơ hội trong sự nghiệp. Tôi cũng sẽ chia sẻ những kinh nghiệm cá nhân và gợi ý hữu ích để giúp bạn vượt qua các thử thách trong thực tập và tiến xa hơn trong sự nghiệp của mình.
                        
                        Rất mong nhận được phản hồi và chia sẻ từ các bạn. Nếu bạn có bất kỳ câu hỏi, ý kiến ​​hoặc đề xuất, đừng ngần ngại để lại bình luận hoặc liên hệ trực tiếp với tôi. Tôi mong rằng blog này sẽ trở thành một nguồn cảm hứng và sự hỗ trợ cho các bạn trẻ trong hành trình tìm kiếm thành công cá nhân.
                        
                        Xin chân thành cảm ơn và chúc bạn có trải nghiệm tuyệt vời trên trang blog của tôi! </p>
                </div>
                <div class="col-lg-6 ps-lg-2 p-2 " data-aos="fade-up" data-aos-delay="100">
                    <div class="mb-5 text-center">
                        <h2 class="text-black h4  ">Giới thiệu về trang Blog của tôi</h2>
                        <p> Trang web được xây dựng dựa trên cấu trúc MEAN Stack,mang đến những kiến thức mới, ý tưởng sáng tạo và sự hỗ trợ cần thiết để tiến xa hơn trong lĩnh vực IT,cảm ơn khi đã ghé thăm trang web của tôi.</p>
                        <img src="../../../../assets/images/Mean-Tech-stack (1).png" alt="Image" class="img-fluid rounded rounded-1">
                    </div>
                    <div class="d-flex mb-5 service-alt">
                        <div>
                            <span class="bi-wallet-fill me-4"></span>
                        </div>
                        <div>
                            <h3> Công nghệ mới</h3>
                            <p>Giới thiệu những xu hướng công nghệ mới nhất, từ trí tuệ nhân tạo đến Internet of Things, giúp bạn cập nhật với những phát triển mới nhất trong lĩnh vực IT.</p>
                        </div>
                    </div>
    
                    <div class="d-flex mb-5 service-alt">
                        <div>
                            <span class="bi-pie-chart-fill me-4"></span>
                        </div>
                        <div>
                            <h3>Thủ thuật lập trình</h3>
                            <p>Cùng nhau khám phá những thủ thuật và kỹ thuật lập trình thông minh để nâng cao hiệu suất và sự sáng tạo của bạn. Tôi sẽ chia sẻ những mẹo nhỏ, gợi ý và các hướng dẫn để bạn tiếp cận với việc lập trình một cách thông minh và hiệu quả.</p>
                        </div>
                    </div>
    
                    <div class="d-flex mb-5 service-alt">
                        <div>
                            <span class="bi-bag-check-fill me-4"></span>
                        </div>
                        <div>
                            <h3>Setup PC</h3>
                            <p>Bạn đang tìm kiếm cách tối ưu hóa hệ thống của mình? Trên trang blog này, tôi sẽ cung cấp những gợi ý về cấu hình PC, các phần mềm hữu ích và cách tinh chỉnh để bạn có thể tận dụng tối đa hiệu suất của máy tính cá nhân.</p>
                        </div>
                    </div>
    
                </div>
                <!-- <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img src="../../../../assets/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Claire Smith</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="../../../../assets/images/person_3.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Jessica Wilson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
    
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
                    <img src="../../../../assets/images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">William Anderson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img src="../../../../assets/images/person_5.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Julie Harvey</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="../../../../assets/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                    <h5 class="text-black">Shana Clarkson</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div> -->
            </div>
    
        </div>
    </div>
</div>


